@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #485887;
  --secondary: #f7f7f7;
  --accent: #bdbdd3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.splide__pagination.splide__pagination--ltr {
  @apply -bottom-7 flex justify-center gap-2.5;
}

.splide__pagination .splide__pagination__page {
  @apply w-[12px] h-[12px];
}

.splide__arrow.splide__arrow--prev {
  @apply left-2.5 bottom-0 top-auto;
}

.splide__arrow.splide__arrow--next {
  @apply right-2.5 bottom-0 top-auto;
}
